<section class="listing" [routerLink]="['/housing',housingLocation.id]">
    <img 
    class="listing-photo"
    [src]="housingLocation.photo"
    alt="Exterior photo of {{housingLocation.name}}"
    />
    <div class="listing-info">
        <h2 class="listing-heading">{{ housingLocation.name }} 
          <p></p>
          $
          {{housingLocation.price}}
        </h2>
        <p class="listing-location">
          <span class="location-icon"> 📍</span>
          {{ housingLocation.city }}, {{ housingLocation.state }}
        </p>
      </div>
    </section>
